:root {
    --color-accent: #FF8000;
    --color-accent-secondary: #A65700;
    --color-accent-selected: #FF8000;

    --color-text-primary: #FFF;
    --color-text-secondary: #AAA;
    --color-text-tertiary: #888;
    --color-background: #000;
    --color-background-even: var(--color-background);
    --color-background-odd:#222;
    --color-background-selected: #462300;


    --spacing-general: 5pt;
    --spacing-indicators: 3pt;
    --size-text-primary: 12pt;
}

body {
    background: var(--color-background);
    font-family:verdana;
    color:var(--color-accent);
    font-size: var(--size-text-primary);
    margin:0px;
}
a {
    font-family: consolas;
    font-size:1em;
    color: var(--color-accent);
    text-decoration: none;
}

a:visited {
    color: var(--color-accent-secondary);
    text-decoration: none;
}

.thread {
  display: flex;
  flex-direction: row;
    padding: var(--spacing-general);
    border: solid 1px rgba(0,0,0,0);
    cursor: pointer;
}

.thread:hover, div.thread:active {
    transition: .25s ease;
    border: solid 1px var(--color-accent);
}

.author, .msg-count, .created {
    font-size:0.8em;
    color:var(--color-text-secondary);
}

.subject {
    margin-top: calc(var(--spacing-general) / 1);
}

.item-even {
    background: var(--color-background-even);
}
.item-odd {
    background: var(--color-background-odd);
}

.screen {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.screen-header {
}
.screen-content {
  flex-grow: 1;
  overflow: auto;
  height:0px;
}
.screen-footer {
}

.author {
    order: 1;
}

.thread-col1 {
    order: 2;
    flex-grow: 2;
    margin:auto;
}

.msg-count {
    order: 3;
    padding: 0pt 10pt;
    margin:auto;
    color:var(--color-text-primary);
}

.created {
    order: 4;
    text-align: center;
    margin:auto
}

.message-content {
    padding:10pt;

}

.message-date {
    top:0pt;
    font-size:0.8em;
    padding: var(--spacing-general) 0pt ;
    color: var(--color-text-tertiary);
}

.message-text {
    color: var(--color-text-secondary);
}

::-webkit-scrollbar {
  width: var(--spacing-indicators);      /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: var(--color-background);        /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);    /* color of the scroll thumb */
  /*border-radius: 10px;*/       /* roundness of the scroll thumb */
  /*border: 3px solid var(--color-accent);  /* creates padding around scroll thumb */
}


.slider{
  position: relative;
  width:100vw;
  height:var(--spacing-indicators);
  overflow-x: hidden;
}

.slider-line{
  position:absolute;
  background:var(--color-background-odd);
  width:150%;
  height:var(--spacing-indicators);
}

.slider-subline{
  position:absolute;
  background:var(--color-accent);
  height:var(--spacing-indicators);
}
.slider-inc{
animation: increase 3s infinite;
}
.slider-dec{
animation: decrease 3s 0.5s infinite;
}

@keyframes increase {
 from { left: -5%; width: 5%; }
 to { left: 130%; width: 100%;}
}
@keyframes decrease {
 from { left: -80%; width: 80%; }
 to { left: 110%; width: 10%;}
}
