:root {
    --color-accent: #FF8000;
    --color-accent-selected: #FF8000;

    --color-text-primary: #FFF;
    --color-text-secondary: #AAA;
    --color-background: #000;
    --color-background-even: var(--color-background);
    --color-background-odd:#222;
    --color-background-selected: #462300;


    --spacing-chatroom: 5pt;
    --spacing-scrollbar-width: 3pt;
}

body {
    background: var(--color-background);
    font-family:verdana;
    color:var(--color-accent);
    margin:0px;
}

.thread {
  display: flex;
  flex-direction: row;
    padding: var(--spacing-chatroom);
    border: solid 1px rgba(0,0,0,0);
    cursor: pointer;
}

.thread:hover, div.thread:active {
    transition: .25s ease;
    border: solid 1px var(--color-accent);
}

.author, .msg-count, .created {
    font-size:0.8em;
    color:var(--color-text-secondary);
}

.subject {
    margin-top: calc(var(--spacing-chatroom) / 1);
}

.item-even {
    background: var(--color-background-even);
}
.item-odd {
    background: var(--color-background-odd);
}

.screen {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.screen-header {
}
.screen-content {
  flex-grow: 1;
  overflow: auto;
  height:0px;
}
.screen-footer {
}

.author {
    order: 1;
}

.thread-col1 {
    order: 2;
    flex-grow: 2;
    margin:auto;
}

.msg-count {
    order: 3;
    padding: 0pt 10pt;
    margin:auto;
    color:var(--color-text-primary);
}

.created {
    order: 4;
    text-align: center;
    margin:auto
}

::-webkit-scrollbar {
  width: var(--spacing-scrollbar-width);      /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: var(--color-background);        /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);    /* color of the scroll thumb */
  /*border-radius: 10px;*/       /* roundness of the scroll thumb */
  /*border: 3px solid var(--color-accent);  /* creates padding around scroll thumb */
}